*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(Hospital.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  

}
.container{
    width: 350px;
    background:#fff;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    text-align: center;
    padding: 30px 35px 0 35px;
}
.container header{
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 30px 0;
}
.container .form-princ{
    width: 100%;
    overflow: hidden;

}
.form-princ form{
    display: flex;
    width: 400%;
}
.form-princ form .pagina{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
    -webkit-transition: margin-left 0.3s ease-in-out;
    -moz-transition: margin-left 0.3s ease-in-out;
    -ms-transition: margin-left 0.3s ease-in-out;
    -o-transition: margin-left 0.3s ease-in-out;
}

.form-princ form .pagina .titulo{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}
.form-princ form .pagina .Campo{
    height: 35px;
    width: 350px;
    margin: 40px 0;
    display: flex;
    position: relative;

}

.form-princ form .pagina .Campo .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
    font-size: 14px;
    font-style: italic;
    float: left;
    text-align: left;
    width: 100%;
}
.form-princ form .pagina .Campo .input{
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
    padding-left: 15px;
}

.form-princ form .pagina .Campo .select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-family: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid lightgrey;
}

.form-princ form .pagina .Campo button{
    width: 1000%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background: #0e2c48;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.35s ease;
    -webkit-transition: 0.35s ease;
    -moz-transition: 0.35s ease;
    -ms-transition: 0.35s ease;
    -o-transition: 0.35s ease;
}

.form-princ form .pagina .Campo button:hover{
    background: rgb(62, 139, 232);
}

.form-princ form .pagina .btns button{
    margin-top: -20px !important;
}
form .pagina .btns button.anterior{
    margin-right: 3px;
    font-size: 17px;
}

form .pagina .btns button.siguiente{
    margin-left: 3px;
    font-size: 17px;
}

.container .progress-bar{
    display: flex;
    margin: 40px 0;
}

.container .progress-bar .paso{
    text-align: center;
    width: 100%;
    position: relative;
}

.progress-bar .paso p{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
}

.progress-bar .paso .num{
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}

.progress-bar .paso .num.active{
    border-color: rgb(62, 139, 232);
}

.progress-bar .paso .num span{
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)    ;
    -webkit-transform: translateX(-50%)    ;
    -moz-transform: translateX(-50%)    ;
    -ms-transform: translateX(-50%)    ;
    -o-transform: translateX(-50%)    ;
}

.progress-bar .paso .num.active span{
    display: none;
}

.progress-bar .paso .check{
    display: none;
     left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.progress-bar .paso .num:before,
.progress-bar .paso .num::after{
    position: absolute;
    content: '';
    width: 44px;
    height: 3px;
    bottom: 11px;
    right: -53px;
    background: #000;
}

.progress-bar .paso:last-child .num:before,
.progress-bar .paso:last-child .num::after{
    display: none;

}

.progress-bar .paso .num .active:after{
    background:rgb(62, 139, 232) ;
    animation:mov-Linea 0.3s linear forwards;
    -webkit-animation:mov-Linea 0.3s linear forwards;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform-origin: left;
}

@keyframes mov_Linea{
    100%{
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
    }
}





